*{
    margin:0;
    padding:0;
    list-style:none; 
}

    header{
        position: relative;
        margin-left:50px;
        margin-right:50px;
        margin-top:20px;   
        width:1340px;
        height:300px;
    background-image: url(img/Portada1.png);
}

.redes{
    position:absolute;
    width:35px;
    height:35px;
    background:floralwhite; 
}

#icono1{
 top:10px;
 right:145px;
 border:2px solid #000000;
 background-image: url(img/facebook.png)
}

#icono2{
 top:10px;
 right:100px;
 border:2px solid #000000;
 background-image: url(img/twitter.png)
}

#icono3{
 top:10px;
 right:55px;
 border:2px solid #000000;
 background-image: url(img/amino.png)
}

#icono4{
 top:10px;
 right:10px;
 border:2px solid #000000;
 background-image: url(img/youtube.png)
}

nav{
        position:relative; 
        margin-left:50px;
        margin-right:50px;
        width:1340px;
        height:60px;
}

nav ul a:hover{
  background-image:url(img/boton-inicio.png);  
}

nav ul a{
text-decoration:none;
}

.botones{
float: left;
width: 285px;
margin:0px 1px;
height:60px;
background-image:url(img/boton.png);
color:white;
font-family: 'Gochi Hand', cursive;
text-align: center;
line-height:60px;
font-size:25px;

}

#top{
    position:relative;
    margin-left:50px;
    margin-right:50px;
    width:1340px;
    height:300px;
background:#9e9e9e
}

aside#der{
position:absolute;
right:0;
top:0;
width:320;
height:800px;
background:#505050 
}

article{
position:absolute;
left:0;
top:0;
width:1020;
height:800px;
background:#3b3b3b 
}

section{
    position:relative;
    margin-left:50px;
    margin-right:50px;
    width:1340px;
    height:800px;
background:#dfdcdc
}

footer{
    position:relative;
    margin-left:50px;
    margin-right:50px;
    width:1340px;
    height:60px;
background: #727272;
text-align:center;
line-height:60px;
font-family: 'Gochi Hand', cursive;
font-size: 20px;
color:white;
}

body { background-image: url();
background-repeat: no-repeat;
}